@import "tailwindcss";

@layer components{
    .btn-primary{
        @apply bg-[#439eed] px-4 py-2 rounded-4xl w-[125px] text-white font-medium cursor-pointer 
        hover:bg-[#1967a8] transition duration-100
    }
}